@import '../../index.scss';

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    @extend .onlyText;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 3rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.name {
    @extend .frame;
    margin-top: 3em;
    background-color: #fff;
    color: #acacac;
    padding: 10px;
    font-size: 50px;
    letter-spacing: 20px;
    width: 80%;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);

    &>input {
        border: 0;
        width: 100%;
        font-size: 40px;
        @extend .onlyText;

    }
}

.title {
    position: absolute;
    width: 70%;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

}

.avatar {
    position: absolute;
    width: 100%;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);

}

.avatars {
    position: absolute;
    display: flex;
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    gap: 0.5em;
    overflow-x: hidden;

    &>img {
        width: 100px;
        border-radius: 50%;
    }
}

.right {
    position: absolute;
    right: 2%;
    top: 63%;
    width: 40px;
    filter: drop-shadow(3px 3px 4px var(--border-color));

}


.left {
    position: absolute;
    left: 2%;
    top: 63%;
    width: 40px;
    filter: drop-shadow(-3px 3px 4px var(--border-color));
}

.v {
    position: absolute;
    top: 75%;
    left: 70%;
    width: 18%;
}

.b {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 18%;

}

@media only screen and (min-width: 500px) {
    .container {
        gap: 2em;
        font-size: 50px;
    }

    .logo {
width: 20%;    }

    .name {
        margin-top: 2em;
        font-size: 50px;
        width: 60%;
        top: 20%;

        &>input {
            font-size: 35px;
        }
    }

    .title {
        top: 23%;
    }

    .avatar {
        top: 45%;
    }

    .avatars {
        width: 70%;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);


        &>img {
            width: 120px;
        }
    }

    .right,
    .left {
        top: 60%;
        width: 35px;
    }

    .v,
    .b {
        top: 80%;
        width: 10%;
    }

    .v {
        left: 50%;
    }

    .b {
        left: 30%;
    }
}