.logo {
    /* Logo */

    // position: absolute;
    width: 60%;
    left: 20%;
    top: 30%;
    display: block;
    filter: drop-shadow(0 0 2rem #4abbfc);


}

.logoBG {

    // position: absolute;
    width: 60%;
    height: 20%;
    left: 20%;
    top: 30%;

    background: #23ACF9;
    filter: blur(83px);

}

// @media only screen and (min-width: 500px) {
//     .logo {
//         width: 30%;
//         left: 35%;
//         top: 30%;
//         filter: drop-shadow(0 0 3rem #4abbfc);
//     }

//     .logoBG {
//         width: 40%;
//         height: 30%;
//         left: 30%;
//         top: 20%;
//         filter: blur(60px);
//     }
// }