@import '../../index.scss';

.header {
    margin-top: 10%;
    position: relative;
}

.menu {
    position: absolute;

    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    gap: 20px;

    &>button {
        border-radius: 50px;
        width: 100%;
        @extend .borderBottom;
        padding: 15px;
        font-size: 30px;
    }
}

.button {
    position: absolute;
    @extend .litleBottom;
    @extend .borderBottom;
    bottom:5%;
    right: 50%;
    transform: translateX(50%);

}

.setDifficulty {
    position: absolute;
    display: flex;
    flex-direction: column;
    @extend .onlyText;
    bottom: 13%;
    right: -15%;
    gap: 20px;
    transform: translateX(-50%);

    .not {
        border-radius: 50px;
        @extend .borderBottom;
        box-shadow: 0 7px 0 var(--shadow-color);
        font-size: 18px;
        padding: 10px;

    }
}

.difficulty {
    border-radius: 50px;
    font-size: 25px;
    padding: 20px;
    @extend .borderBottom;
    box-shadow: 0 7px 0 var(--shadow-color);

}


@media only screen and (min-width: 500px) {
    .header {
        margin-top: 5%;
        position: relative;
    }
    
    .menu {
        top: 20%;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
    }

    .button{
        width: 7%;
    }
        
.setDifficulty {

        right: 50%;
        gap: 15px;
        transform: translateX(50%);
    
        .not {
          
            padding: 10px;
    
        }
    }
    
    .difficulty {
        border-radius: 50px;
        font-size: 25px;
        padding: 20px;
        @extend .borderBottom;
        box-shadow: 0 7px 0 var(--shadow-color);
    
    }
}