@import '../../index.scss';

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    @extend .onlyText;

}

.roomId {
    @extend .frame;
    margin-top: 3em;
    background-color: #fff;
    padding: 10px;
    color: #acacac;
    letter-spacing: 20px;
    width: 80%;
    overflow: hidden; /* Ensures the text stays within the container */
    position: relative;

}

.roomId span {
    display: inline-block;
    font-size:5vw;
    letter-spacing: 0.5vw;
    animation: typing 4s steps(30, end) forwards, blink 0.75s step-end infinite;
    border-right: 2px solid orange;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px #000;

    width: 0; /* Initial width for the typing effect */
}


.title {
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);

}

.smiley {
    width: 4em;
    height: 4em;
}

.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
    animation: eye1 3s ease-in-out infinite;
}

.smiley__eye1,
.smiley__eye2 {
    transform-origin: 64px 64px;
}

.smiley__eye2 {
    animation-name: eye2;
}

.smiley__mouth1 {
    animation-name: mouth1;
}

.smiley__mouth2 {
    animation-name: mouth2;
    visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 90%, 10%);
        --fg: hsl(var(--hue), 90%, 90%);
    }
}

/* Animations */
@keyframes eye1 {
    from {
        transform: rotate(-260deg) translate(0, -56px);
    }

    50%,
    60% {
        animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
        transform: rotate(-40deg) translate(0, -56px) scale(1);
    }

    to {
        transform: rotate(225deg) translate(0, -56px) scale(0.35);
    }
}

@keyframes eye2 {
    from {
        transform: rotate(-260deg) translate(0, -56px);
    }

    50% {
        transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
    }

    52.5% {
        transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
    }

    55%,
    70% {
        animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
        transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
    }

    to {
        transform: rotate(150deg) translate(0, -56px) scale(0.4);
    }
}

@keyframes mouth1 {
    from {
        animation-timing-function: ease-in;
        stroke-dasharray: 0 351.86;
        stroke-dashoffset: 0;
    }

    25% {
        animation-timing-function: ease-out;
        stroke-dasharray: 175.93 351.86;
        stroke-dashoffset: 0;
    }

    50% {
        animation-timing-function: steps(1, start);
        stroke-dasharray: 175.93 351.86;
        stroke-dashoffset: -175.93;
        visibility: visible;
    }

    75%,
    to {
        visibility: hidden;
    }
}

@keyframes mouth2 {
    from {
        animation-timing-function: steps(1, end);
        visibility: hidden;
    }

    50% {
        animation-timing-function: ease-in-out;
        visibility: visible;
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -351.86;
    }
}