@import '../../index.scss';

.container {
    @extend .onlyText;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow {
    display: flex;
    gap: 2%;
    font-size: 120%;
}

.board {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
}

.button {
    @extend .borderBottom;
    padding: 20px;
    font-size: 35px;
    border-radius: 50px;
    width: 80%;
}