.xUp {
    position: absolute;
    left: 17.78%;
    top: 20.34%;
    width: 18%;
    filter: blur(5.5px);
    transform: rotate(-21.26deg);
}

.oUp {
    position: absolute;
    left: 63.75%;
    top: 20.34%;
    width: 18%;
    filter: blur(8.5px);
    transform: rotate(6.85deg);
}
.xDown {
    position: absolute;
    left: 60.74%;
    top: 60.41%;
    width:45%;
    filter: blur(18.5px);
    transform: rotate(16.85deg);
}
.oDown {
    position: absolute;
    left: -5.66%;
    top: 53.29%;
    width: 35%;
    filter: blur(11px);
    transform: rotate(-12.56deg);
}


.welcome{
    width: 100%;
    height: 100%;
}

/* התאמות למסך מחשב */
@media only screen and (min-width: 500px) {
    .xUp {
        left: 15%;
        top: 10%;
        width: 10%;
        filter: blur(3px);
        transform: rotate(-20deg);
    }

    .oUp {
        left: 70%;
        top: 10%;
        width: 10%;
        filter: blur(5px);
        transform: rotate(5deg);
    }

    .xDown {
        left: 75%;
        top: 65%;
        width: 30%;
        filter: blur(10px);
        transform: rotate(15deg);
    }

    .oDown {
        left: 0%;
        top: 63%;
        width: 25%;
        filter: blur(8px);
        transform: rotate(-10deg);
    }
}